ion-content {
  position: relative;
  color: #000000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  padding: 0;
}

.login-container {
  display: flex;
  justify-content: space-between; /* Asegura que la imagen y el formulario se separen */
  align-items: center;
  height: 100%; /* Mantiene el contenedor con el tamaño completo de la pantalla */
  padding: 20px;
}

.login-form {
  background-color: transparent;
  margin: auto;
  padding: 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.475);
}

.side-image {
  width: 40%; /* Ajusta el tamaño de la imagen */
  height: auto;
  margin-left: 20px;
}

ion-item {
  --background: transparent;
  color: #000000;
  margin-bottom: 20px;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 10px;
}

ion-label {
  color: #000000;
  font-size: 14px;
}

ion-input {
  --color: #000000;
  --placeholder-color: #000000;
  padding-left: 5px;
}

ion-button {
  --background: #3d4047;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000;
}

ion-toolbar {
  text-transform: uppercase;
  --background: #3d4047;
  color: #000000;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

.crear {
  display: flex;
  color: #000000;
  justify-content: center;
  align-items: center;
}

.validpass {
  color: #000000;
}
