<ion-header>
  <ion-toolbar>
    Gestión de usuarios
    <ion-button slot="start" href="/home">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #crudForm="ngForm" (ngSubmit)="addUser()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="newUser.name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">RUT</ion-label>
      <ion-input type="number" name="rut" [(ngModel)]="newUser.rut" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input type="text" name="username" [(ngModel)]="newUser.username" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="newUser.email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="newUser.password" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">
      {{ newUser.id ? 'Actualizar Usuario' : 'Agregar Usuario' }}
    </ion-button>
  </form>

  <ion-list>
    <ion-item *ngFor="let user of users">
      {{ user.name }} ({{ user.username }})
      <ion-button slot="end" color="warning" (click)="editUser(user)">Editar</ion-button>
      <ion-button slot="end" color="danger" (click)="deleteUser(user.id)">Eliminar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
